.bg-dark {
  background-color: #343a40;
}

.txt-light {
  color:white;
}

.lrg-font {
  font-size: 1.2rem;
}

.full-width {
  width: 100%;
}

.social-logo {
  width: 50px;
}

.brd-white {
  border-color: white;
}

.foot-link {
  color: white;
}

.proj-title {
  border-bottom: solid white 1px;
  padding-bottom: 4px;
}

.nav-offset {
  padding-bottom: 56px;
}

.no-btm {
  padding-bottom: 0;
  margin-bottom: 0;
}